<h1>New zeit</h1>

<% form_for(@zeit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bis %><br />
    <%= f.datetime_select :bis %>
  </p>
  <p>
    <%= f.label :dauer %><br />
    <%= f.datetime_select :dauer %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', zeiten_path %>
