<%= javascript_include_tag :defaults %>

<%= javascript_include_tag 'picky_color' %>
<%= stylesheet_link_tag 'picky_color' %>

<% form_for(@quelle) do |f| %>
  <%= @quelle.errors.full_messages %>
<table  class="listenkopf">
  <tr><td>
    <%= f.label :adresse %></td><td>
    <%= f.text_field :adresse %>
  </td></tr>
  <tr><td>
    <%= f.label :name %></td><td>
    <%= f.text_field :name %>
  </td></tr>
  <tr><td>
    <%= f.label :farbe %></td><td>
    <%= f.picky_color :farbe, :size => 6 %>
  </td></tr>
  <tr><td>
    <%= f.label :variablen_art %></td><td>
    <%= f.text_field :variablen_art %>
  </td></tr>
  <tr><td>
    <%= f.label :Beschreibung %></td><td>
    <%= f.text_field :beschreibung %>
  </td></tr>
  <tr><td>
    <% einheiten_auswahl = Einheit.find(:all).map {|einheit| [einheit.name, einheit.id]}  %>
    <%= f.label :einheit %></td><td>
    <%= f.select("einheit_id", einheiten_auswahl) %>
  </td></tr>
  <tr><td>
    <%= f.label :aktiv %></td><td>
    <%= f.check_box :aktiv %>
  </td></tr>
</table>
  <P><%= f.submit knopf_text %></P>
    
<% end %>

<%= link_to 'Zur&uuml;ck zur Messgr&ouml;&szlig;enliste', quellen_path %>
