<h1>Messgr&ouml;&szlig;en</h1>

<table cellspacing="0" cellpadding="8">
  <tr class="listenkopf">
    <TD>Adresse </TD>
    <TD>Name</TD>
    <TD>Typ</TD>
    <TD>Einheit</TD>
    <TD>Aktiv</TD>
    <TD></TD>
    <TD></TD>
    <TD>Beschreibung</TD>
  </tr>
<% [@aktive_quellen, @inaktive_quellen].each do |quellen_array| %>
  <% for quelle in quellen_array %>
    <tr  class="<%= cycle('', 'un') + 'gerade'%>">
      <%  if quelle %>
      <td><%=h quelle.adresse %></td>
      <td><font color="#<%=quelle.farbe%>"><%=h quelle.name %></font></td>
      <td><%=h quelle.variablen_art %></td>
      <td><%=h quelle.einheit && quelle.einheit.name %></td>
      <td><%=h quelle.aktiv ? "ja" : "nein" %></td>
      <td><%= link_to (quelle.aktiv ? "de" : "")+"aktivieren", aktiv_umschalten_path(quelle.id) %></td>
      <td><%= link_to 'bearbeiten', edit_quelle_path(quelle) %></td>
      <td><%=h quelle.beschreibung %></td>
      <% end %>
    </tr>
  <% end %>
  <tr><td colspan=9><hr size=3></td></tr>
<% end %>
</table>

<br />

<%= link_to raw('Neue Messgr&ouml;&szlig;e'), new_quelle_path %>
