<h1>New diaque</h1>

<% form_for(@diaque) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :quelle_id %><br />
    <%= f.text_field :quelle_id %>
  </p>
  <p>
    <%= f.label :diagramm_id %><br />
    <%= f.text_field :diagramm_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', diaquen_path %>
