<h1>Editing messpunkt</h1>

<% form_for(@messpunkt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :zeit %><br />
    <%= f.datetime_select :zeit %>
  </p>
  <p>
    <%= f.label :wert %><br />
    <%= f.text_field :wert %>
  </p>
  <p>
    <%= f.label :diagramm_id %><br />
    <%= f.text_field :diagramm_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @messpunkt %> |
<%= link_to 'Back', messpunkte_path %>
