<h1>New messpunkt</h1>

<% form_for(@messpunkt) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :zeit %><br />
    <%= f.datetime_select :zeit %>
  </p>
  <p>
    <%= f.label :wert %><br />
    <%= f.text_field :wert %>
  </p>
  <p>
    <%= f.label :quelle_id %><br />
    <%= f.select :quelle_id, Quelle.alle_aktiven.collect {|q| [ q.name, q.id ] } %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messpunkte_path %>
