<%#
# encoding: utf-8

# To change this template, choose Tools | Templates
%>
<div id="aktuelle_zeit">
  <TABLE width="100%">
    <TR>
      <TD align="center">

      <!--TD width="25%"  valign="top" align="center"-->
        <!--%= link_to_remote image_tag("lupeminusgif3.png", :alt => 'Auschnitt verkleinern',  :class => "navi_button"), :url => url_for({ :action => "zoom_out", :id => params[:id], :format => "js" }) %-->
        <!--%= link_to_remote image_tag("lupeplusgif3.png", :alt => 'Auschnitt vergrößern',  :class => "navi_button"), :url => url_for({ :action => "zoom_in", :id => params[:id], :format => "js" }) %-->
        <!--%= @chart.link_to_remote_ofc_load image_tag("lupeplusgif3.png",  :alt => 'Auschnitt vergrößern'),  "my_chart_js_1", url_for({ :action => "zoom_in", :id => params[:id], :format => "json" }) %-->
        <% dauern = navigations_dauern(session[:akt_zeit]) %>
        <% dauern.each do |dauer| %>

          <% if session[:akt_zeit].dauer == dauer then %>
            <font size="+2"> &nbsp; <%= session[:akt_zeit].lesbar %> &nbsp; </font>
          <% elsif dauer.nil? then %>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <% else %>
            &nbsp; <%= link_to dauer_lesbar(dauer), url_for({ :action => "dauer", :id => params[:id], :dauer => dauer, :format => "js" }), :remote=>true %> &nbsp;
          <% end %>
        <% end %>
        
      </TD>
      </TD>
      <TD valign="top" width="10%" align="right">
      </TD>
      <TD  valign="top" width="8%"  align="left">
        <%= link_to raw("<div style='text-align: center;'><i class='fa fa-fast-backward fa-4x'></i><br>Anfangszeit</div>"),
         url_for(action: "verschieben", anfang: "anfang", id: params[:id], format: "js"), :remote=>true %> 
      </TD>
      <TD  valign="top" width="7%"  align="center">
        <%= link_to raw("<div style='text-align: center;'><i class='fa fa-long-arrow-left fa-4x'></i><br>Zurück</div>"), 
                    url_for(action: "verschieben", anfang: "links", id: params[:id], format: "js"), :remote=>true %> 
        <!--edit_kurve_path(@kurve) % | -->
        <!--%= @chart.link_to_remote_ofc_load image_tag("arrow_left3.png",  :class => "gruenlink"), "my_chart_js_1", url_for({ :action => "links", :id => params[:id], :format => "json" }) %--> <!--edit_kurve_path(@kurve) % | -->
     </TD>
     <TD>
        <%= link_to raw("<div style='text-align: center;'><i class='fa fa-long-arrow-right fa-4x'></i><br>Vorwärts</div>"),
                    url_for(:action => "verschieben", anfang: "rechts", :id => params[:id], :format => "js"), :remote=>true %>
      </TD>
      <TD WIDTH="2%"></TD>
      <TD WIDTH="7%">
      	<%= link_to raw("<div style='text-align: center;'><i class='fa fa-fast-forward fa-4x'></i><br>Aktuelle Zeit</div>"),
      	 url_for(action: "verschieben", anfang: "aktuell", id: params[:id], format: "js"), :remote=>true %> 
      </TD>
    </TR>
  </TABLE>
</div>
<!--div id="kurz_debug_div"/-->