
<div id="grafik_bereich">
  <!--%= @graph %-->
    <%= @chart.js_open_flash_chart_object("my_chart_js_1", "100%", 800) %>

    <script type="text/javascript">
      function reload_chart() {
      tmp_= findSWF("my_chart_js_1");
      new Ajax.Request('<%= url_for(:action => "show", :id => params[:id], :format => "json") %>', {
        method    : 'get',
        onSuccess : function(obj) {tmp_.load(obj.responseText);},
        onFailure : function(obj) {alert("Nachladen funktionierte nicht");}});
      }
    </script>
</div>
  <TABLE width="100%">
    <TR>
      <TD valign="top" width="40%" align="right">
      </TD>
      <TD  valign="top" align="center">
        <%= link_to_remote image_tag("arrow_left3.png",  :class => "navi_button"), :url => url_for({ :action => "links", :id => params[:id], :format => "js" }) %> <!--edit_kurve_path(@kurve) % | -->
        <!--%= @chart.link_to_remote_ofc_load image_tag("arrow_left3.png",  :class => "gruenlink"), "my_chart_js_1", url_for({ :action => "links", :id => params[:id], :format => "json" }) %--> <!--edit_kurve_path(@kurve) % | -->
        <%= link_to_remote image_tag("arrow_right3.png", :alt => 'nach rechts',  :class => "navi_button"), :url => url_for({ :action => "rechts", :id => params[:id], :format => "js" }) %>
      </TD>
      <TD align="center">
        <%= render :partial => "aktuelle_zeit" %>
      <!--TD width="25%"  valign="top" align="center"-->
        <!--%= link_to_remote image_tag("lupeminusgif3.png", :alt => 'Auschnitt verkleinern',  :class => "navi_button"), :url => url_for({ :action => "zoom_out", :id => params[:id], :format => "js" }) %-->
        <!--%= link_to_remote image_tag("lupeplusgif3.png", :alt => 'Auschnitt vergrößern',  :class => "navi_button"), :url => url_for({ :action => "zoom_in", :id => params[:id], :format => "js" }) %-->
        <!--%= @chart.link_to_remote_ofc_load image_tag("lupeplusgif3.png",  :alt => 'Auschnitt vergrößern'),  "my_chart_js_1", url_for({ :action => "zoom_in", :id => params[:id], :format => "json" }) %-->

      </TD>
      <TD WIDTH="5%">
      </TD>
    </TR>
  </TABLE>


