
<div id="grafik_bereich">
  <!--%= @graph %-->
    <%= @chart.js_open_flash_chart_object("my_chart_js_1", "100%", 500) %>
</div>
  <TABLE width="100%">
    <TR>
      <TD valign="top" width="50%" align="right">
        <%= @chart.link_to_remote_ofc_load image_tag("arrow_left.gif",  :class => "gruenlink"), "my_chart_js_1", url_for({ :action => "links", :id => params[:id] }) %> <!--edit_kurve_path(@kurve) % | -->
        <%= @chart.link_to_remote_ofc_load image_tag("arrow_right.gif", :class => "gruenlink"), "my_chart_js_1", url_for({ :action => "rechts", :id => params[:id] }) %> <!--edit_kurve_path(@kurve) % | -->
      </TD>
      <TD>
        <!--%= session[:akt_zeit].dauer_lesbar %-->
      </TD>
      <TD valign="top" align="right">
        <%= @chart.link_to_remote_ofc_load image_tag("lupeminusgif.gif", :alt => 'Auschnitt verkleinern'), "my_chart_js_1", url_for({ :action => "zoom_out", :id => params[:id] }) %>
        <%= @chart.link_to_remote_ofc_load image_tag("lupeplusgif.gif",  :alt => 'Auschnitt vergrößern'),  "my_chart_js_1", url_for({ :action => "zoom_in", :id => params[:id] }) %>

      </TD>
      <TD WIDTH="5%">
      </TD>
    </TR>
  </TABLE>


