
<%= javascript_include_tag "jquery.minicolors.simple_form" %>
<%= stylesheet_link_tag "table.css" %>

<%=  simple_fields_for @diagramm do |f| %>

  <TABLE WIDTH="100%" CELLPADDING=5><TR>
    <TD  WIDTH="50%" Valign="top">
      <div id="Quellentabelle">
        <table WIDTH="100%"> <!--CELLPADDING=5 CELLSPACING=1 -->
          <% @freie_quellen.each do |quelle| %>
            <tr><td> 
              <font color="#<%=  quelle.farbe %>"><%=h quelle.name %></font>
            </td><td>
                <%= link_to image_tag("files/for.png", :size => "50x30", :alt => 'nach links',  :class => "navi_button"),  
                            quelle_rein_path(@diagramm.id, quelle.id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
            </td></tr>
          <% end %>
        </TABLE>
      </div>
    </TD>

    <TD WIDTH="100%" Valign="top">
      <div id="Quellentabelle">
        <table WIDTH="100%">
          <% @ausgewaehlte_diaquen.each do |diaque| %>
            <%= f.simple_fields_for :diaquen,  diaque do |diaque_f| %>
              <tr><td>
                <%= link_to image_tag("files/back.png", :size => "50x30", :alt => 'nach links',  :class => "navi_button"), 
                            quelle_raus_path(@diagramm.id, diaque.quelle_id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
              </td><td>
                <%= diaque_f.input :farbe_mit_raute, as: :minicolors, :size => 6, :default => diaque.quelle.farbe %>
              </td><td>
                <font color="#<%= diaque.farbe %>"> <%=h diaque.quelle.name %> </font>
              </td></tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </TD>
  </TR></TABLE>


<% end %>

<div id="ergebnis_temp"></div>

<script type="text/javascript">
  $('#diagramm_diaquen_attributes_0_farbe_mit_raute').minicolors({
    change: function(hex, opacity) {
        //alert(hex + ' - ' + opacity);
        console.log(hex + ' - ' + opacity);
        var farbe = hex.replace("#", "");
        //url_for({ :action => "dauer", :id => params[:id], :dauer => dauer, :format => "js" })
        var link = 'http://localhost:3000/diagramme/chart_update/1?farbe=' + farbe;
         // Probleme mit Raute bei Übergabe als Parameter in Rails 
        $.post(link);
        //$.ajax("diagramm/chart_update");
    },
    changeDelay: 44
  });
</script>
