<%= javascript_include_tag :defaults %>

<%= javascript_include_tag 'picky_color' %>
<%= stylesheet_link_tag 'picky_color' %>

<style type="text/css">
  <% Quelle.all.each do |q| %>
    option.farbe<%= q.id %>  {
        color: #<%= q.farbe %>;
        background-color: #ffffff;
    }
  <% end %>
</style>
<% form_for(@diagramm, :html => {:name => "qual_der_wahl", :onsubmit => "MarkiereErgebnisse()"}) do |f| %>
  <%= f.error_messages %>

<TABLE width="66%">
  <TR>
    <TD width="33%" VAlign="top">
    <%= f.label :name %><br />
    <%= f.text_field :name %><BR>
    </TD>
    <TD width="66%" VAlign="top">
     <%= f.label :beschreibung %><br />
    <%= f.text_field :beschreibung,:cols=>50,:rows=>3 %>
    </TD>
  </TR>
  <TR>
    <TD colspan ="2" VAlign="top">
      <TABLE BGCOLOR="#F3F3E3" WIDTH="100%" BORDER=0 CELLPADDING=1 CELLSPACING=1>
        <TR><TH COLSPAN=2>Wahl der darzustellenden Messgr&ouml;&szlig;en</TH></TR>
        <TR>
          <TD WIDTH="100%">

          <DIV id="_quellen_auswahl_listen">
           <%= render :partial => "quellen_auswahl_listen" %>
          </DIV>
         </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>

<%= f.submit "Speichern" %>
<!--%= submit_tag("Abbrechen", { :name => 'reset', :id => 'reset_button', :type => "reset",:onclick=>"window.location.reload()"}) %-->
<% end %>
