<script type="text/javascript">
  $('#minicolors_debug_div').prepend("<hr>");
  $(".minicolors-input").each(function( i ) {
    //$('#minicolors_debug_div').prepend($( this ).text() + "<br> ");  
    $('#minicolors_debug_div').prepend("Am Anfang" +  i);  
  });
</script>
<%= javascript_include_tag "jquery.minicolors.simple_form" %>
<script type="text/javascript">
  $(".minicolors-input").each(function(i){
    input = $(this);
    input.removeData();
    //input.data('minicolors-initialized', false);
    //input.data('minicolors-settings', {});
    //input.data('minicolors', null);
   });
</script>
<script type="text/javascript">
  $('#minicolors_debug_div').prepend("<br>");
</script>
<%=  simple_fields_for @diagramm do |f| %>
  <TABLE WIDTH="100%" CELLPADDING=5><TR>
    <TD  WIDTH="50%" Valign="top">
      <div id="Quellentabelle" style="height:150px; overflow:auto;">
        <table WIDTH="100%" height=31><!--CELLPADDING=5 CELLSPACING=1 -->
          <% @freie_quellen.each do |quelle| %>
            <tr><td> 
              <font color="#<%=  quelle.farbe %>"><%=h quelle.name %></font>
            </td><td>
                <%= link_to image_tag("files/for.png", :size => "35x20", :alt => 'nach links',  :class => "navi_button"),  
                            quelle_rein_path(@diagramm.id, quelle.id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
            </td></tr>
          <% end %>
        </TABLE>
      </div>
    </TD>

    <TD WIDTH="100%" Valign="top">
      <div id="Quellentabelle">
        <table WIDTH="100%">
          <% nummer = -1 %>
          <% @ausgewaehlte_diaquen.each do |diaque| %>
            <%= f.simple_fields_for :diaquen,  diaque do |diaque_f| %>
              <tr><td>
                <%= link_to image_tag("files/back.png", :size => "35x20", :alt => 'nach links',  :class => "navi_button"), 
                            quelle_raus_path(@diagramm.id, diaque.quelle_id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
              </td><td>
                <%= diaque_f.input :farbe_mit_raute, as: :minicolors, :size => 6, :default => diaque.anzuzeigende_farbe %>
              </td><td>
                <font color="#<%= diaque.anzuzeigende_farbe %>"> <%=h diaque.quelle.name %> </font>
              </td></tr>
              <script type="text/javascript">
                try {
                  $('#minicolors_debug_div').prepend("<%= nummer += 1 %>");
                  $('#diagramm_diaquen_attributes_<%= nummer %>_farbe_mit_raute').minicolors({
                    change: function(hex, opacity) {
                        console.log(hex + ' - ' + opacity);
                        var farbe = hex.replace("#", ""); // Probleme mit Raute bei Übergabe als Parameter in Rails 
                        var link = '<%= url_for({ :controller => "diaquen", :action => "ajax_update", :id => diaque}) %>';
                        link = link + '?farbe=' + farbe;
                         $.ajax({
                          type:   'POST',
                          url:    link,
                          async:  true
                        });
                    },
                    changeDelay: 44
                  });
                } catch(e) {
                  alert(e);
                  $("#fehlerausgabe_div").html("Fehler beim Farbe aktualisieren: <b>" + e + "</b>");
                }
              </script>
            <% end %>
          <% end %>
        </table>
      </div>
    </TD>
  </TR></TABLE>
<% end %>
<script type="text/javascript">
      var link = '<%= url_for({:controller => "diagramme", :action => "render_chart_update", :id => @diagramm.id}) %>';
      $.post(link);
</script>
<script type="text/javascript">
  $('#minicolors_debug_div').prepend("<hr>");
  $(".minicolors-input").each(function( i ) {
    $('#minicolors_debug_div').prepend("Am Ende, Objekt Nr.: " +  i + " hat die Farbe:  " + JSON.stringify($(this).val()) + "<br>" + JSON.stringify($(this).data('minicolors-settings')) + "<br>");  
  });
</script>