<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery.minicolors.simple_form" %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<style type="text/css">
  <% Quelle.all.each do |q| %>
    option.farbe<%= q.id %>  {
        color: #<%= q.farbe %>;
        background-color: #ffffff;
    }
  <% end %>
</style>
<%= form_for(@diagramm, :html => {:name => "qual_der_wahl", :onsubmit => "MarkiereErgebnisse()"}) do |f| %>
<!-- Errormessages Ausblenden wenn leer -->
  <% if @diagramm.errors.full_messages != []%>
    <%= @diagramm.errors.full_messages %>
  <%end%>
  
 <div class="card light-green lighten-5" style="margin: 1%;">
    <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Name und Beschreibung des Diagrammes</div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s3">                  
                <%= f.label :name %><br />
                <%= f.text_field :name %><BR>
              </div>
              <div class="col s9">
                <%= f.label :beschreibung %><br />
                <%= f.text_field :beschreibung,:cols=>50,:rows=>3 %>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Wahl der darzustellenden Messgr&ouml;&szlig;en</div>
          <div class="collapsible-body" height="50%">
            <div class="row">
              <div class="col s6">  
              <B>Deaktiviert</B>                
              </div>
              <div class="col s6">
              <B>Akiviert</B>
              </div>
            </div>
            <DIV id="quellen_auswahl_listen">
              <%= render :partial => "quellen_auswahl_listen" %>
            </DIV>
          </div>
        </li>
    </ul>
</div>
<!--%= submit_tag("Abbrechen", { :name => 'reset', :id => 'reset_button', :type => "reset",:onclick=>"window.location.reload()"}) %-->
<% end %>