
<%= javascript_include_tag "jquery.minicolors.simple_form" %>

<%=  simple_fields_for @diagramm do |f| %>

  <TABLE WIDTH="100%" CELLPADDING=5><TR>
    <TD  WIDTH="50%" Valign="top">
      <div id="Quellentabelle" style="height:350px; overflow:auto;">
        <table WIDTH="100%" height=31><!--CELLPADDING=5 CELLSPACING=1 -->
          <% @freie_quellen.each do |quelle| %>
            <tr><td> 
              <font color="#<%=  quelle.farbe %>"><%=h quelle.name %></font>
            </td><td>
                <%= link_to image_tag("files/for.png", :size => "35x20", :alt => 'nach links',  :class => "navi_button"),  
                            quelle_rein_path(@diagramm.id, quelle.id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
            </td></tr>
          <% end %>
        </TABLE>
      </div>
    </TD>

    <TD WIDTH="100%" Valign="top">
      <div id="Quellentabelle">
        <table WIDTH="100%">
          <% nummer = -1 %>
          <% @ausgewaehlte_diaquen.each do |diaque| %>
            <%= f.simple_fields_for :diaquen,  diaque do |diaque_f| %>
              <tr><td>
                <%= link_to image_tag("files/back.png", :size => "35x20", :alt => 'nach links',  :class => "navi_button"), 
                            quelle_raus_path(@diagramm.id, diaque.quelle_id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
              </td><td>
                <%= diaque_f.input :farbe_mit_raute, as: :minicolors, :size => 6, :default => diaque.quelle.farbe %>
              </td><td>
                <font color="#<%= diaque.farbe %>"> <%=h diaque.quelle.name %> </font>
              </td></tr>
              <script type="text/javascript">

                $('#diagramm_diaquen_attributes_<%= nummer += 1 %>_farbe_mit_raute').minicolors({
                  change: function(hex, opacity) {
                      //alert(hex + ' - ' + opacity);
                      console.log(hex + ' - ' + opacity);
                      var farbe = hex.replace("#", ""); // Probleme mit Raute bei Übergabe als Parameter in Rails 
                      var link = '<%= url_for({ :controller => "diaquen", :action => "ajax_update", :id => diaque }) %>';
                      link = link + '?farbe=' + farbe;
                      $.post(link);
                  },
                  changeDelay: 44
                });
              </script>
            <% end %>
          <% end %>
        </table>
      </div>
    </TD>
  </TR></TABLE>
<% end %>

<script type="text/javascript">
  $('#diagramm_diaquen_attributes_0_farbe_mit_raute').minicolors({
    change: function(hex, opacity) {
        //alert(hex + ' - ' + opacity);
        console.log(hex + ' - ' + opacity);
        var farbe = hex.replace("#", "");
        var link = '<%= url_for({ :action => "chart_update", :id => 1 }) %>';
        //var link = 'http://localhost:3000/diagramme/chart_update/1'
        link = link + '?farbe=' + farbe;
         // Probleme mit Raute bei Übergabe als Parameter in Rails 
        $.post(link);
        //$.ajax("diagramm/chart_update");
    },
    changeDelay: 44
  });
</script>
