

<%=  simple_fields_for @diagramm do |f| %>
  <div class="row">
    <div class="col s6">  
        <div id="Quellentabelle" style="height:300px; overflow:auto;">
        <table class="striped">
            <% @freie_quellen.each do |quelle| %>
              <tr><td> 
                <font color="#<%=  quelle.farbe %>"><%=h quelle.name %></font>
              </td><td>
                  <%= link_to raw("<i class='fa fa-long-arrow-right fa-2x'></i>"),
                              quelle_rein_path(@diagramm.id, quelle.id), 
                              :remote=>true, 
                              :"data-replace" => "#quellen_auswahl_listen" %>
              </td></tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col s6">  
      <div id="Quellentabelle">
        <table class="striped">
          <% nummer = -1 %>
          <% @ausgewaehlte_diaquen.each do |diaque| %>
            <%= f.simple_fields_for :diaquen,  diaque do |diaque_f| %>
              <tr><td>
                <%= link_to raw("<i class='fa fa-long-arrow-left fa-2x'></i>"),
                            quelle_raus_path(@diagramm.id, diaque.quelle_id), 
                            :remote=>true, 
                            :"data-replace" => "#quellen_auswahl_listen" %>
              </td><td>
                <%= diaque_f.input :farbe_mit_raute, as: :minicolors, :size => 6, :default => diaque.anzuzeigende_farbe %>
              </td><td>
                <font color="#<%= diaque.anzuzeigende_farbe %>"> <%=h diaque.quelle.name %> </font>
              </td></tr>
            <% end %>
          <% end %>
          <% nummer = -1 %>
          <% @ausgewaehlte_diaquen.each do |diaque| %>
            <%= f.simple_fields_for :diaquen,  diaque do |diaque_f| %>
              <script type="text/javascript">
                try {
                  $('#minicolors_debug_div').prepend("<%= nummer += 1 %>");
                  $('#diagramm_diaquen_attributes_<%= nummer %>_farbe_mit_raute').minicolors({
                  //$('input[data-minicolors]').minicolors({
                    change: function(hex, opacity) {
                        $("#minicolors_debug_div").prepend(hex + " - <%= diaque.id%> - <%=diaque.farbe%> <br>");
                        //console.log(hex + ' - ' + opacity);
                        var farbe = hex.replace("#", ""); // Probleme mit Raute bei Übergabe als Parameter in Rails 
                        var link = '<%= url_for({ :controller => "diaquen", :action => "ajax_update", :id => diaque}) %>';
                        link = link + '?farbe=' + farbe;
                         $.ajax({
                          type:   'POST',
                          url:    link,
                          async:  true
                        });
                    },
                    changeDelay: 44
                  });
                } catch(e) {
                  alert(e);
                  $("#fehlerausgabe_div").html("Fehler beim Farbe aktualisieren: <b>" + e + "</b>");
                }
              </script>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
<% end %>
<script type="text/javascript">
      var link = '<%= url_for({:controller => "diagramme", :action => "render_chart_update", :id => @diagramm.id}) %>';
      $.post(link);
</script>