<h1>Diagramm-Liste</h1>

<TABLE BGCOLOR="#999999" width="1000">
  <TR>
    <TD BGCOLOR="#F3F3E3" width="200"> Name </TD>
    <TD BGCOLOR="#F3F3E3" width="250"> Messgr&ouml;&szlig;en </TD>
     <% if session[:expert_modus] then %>
    <TD BGCOLOR="#F3F3E3" width="100"> &nbsp; </TD>
    <TD BGCOLOR="#F3F3E3" width="100"> &nbsp; </TD>
    <% end %>
    <TD BGCOLOR="#F3F3E3"> Beschreibung </TD>
  </TR>
<% for diagramm in @diagramme %>
  <tr>
    <td BGCOLOR="#FFFFF3" widht="200"><%= link_to diagramm.name, diagramm %></td>
    <td BGCOLOR="#FFFFF3" widht="250"><%=h diagramm.quellen.map(&:name).join(', ')%></td>
    <% if session[:expert_modus] then %>
      <td BGCOLOR="#FFFFF3" widht="100"><%= link_to 'Bearbeite', edit_diagramm_path(diagramm) %></td>
      <td BGCOLOR="#FFFFF3" widht="100"><%= link_to 'L&ouml;sche', diagramm, :confirm => 'Wollen Sie wirklich L&ouml;schen? Dann klicken Sie auf OK', :method => :delete %></td>
    <% end %>
     <td BGCOLOR="#FFFFF3"><%=h diagramm.beschreibung %></td>
 </tr>
<% end %>
</TABLE>

<br>

<%= link_to 'Neues Diagramm', new_diagramm_path %>
