<h1>Diagramm-Liste</h1>

<TABLE cellspacing="0" cellpadding="8">
  <!--BGCOLOR="#999999" -->
  <TR class="listenkopf">
    <TD  > Name </TD>
    <TD  > Messgr&ouml;&szlig;en </TD>
     <% if session[:expert_modus] then %>
    <TD  > &nbsp; </TD>
    <TD  > &nbsp; </TD>
    <% end %>
    <TD > Beschreibung </TD>
  </TR>
<% for diagramm in @diagramme %>
  <tr  class="<%= cycle('', 'un') + 'gerade'%>">
    <td  ><%= link_to diagramm.name, diagramm %></td>
    <!--td  ><%=h diagramm.quellen.map(&:name).join(', ')%></td-->
    <td  ><%= diagramm.quellen.map{|q| "<font color=\"##{q.farbe}\">#{q.name}</font>"}.join(', ')%></td>
    <% if session[:expert_modus] then %>
      <td  ><%= link_to 'bearbeiten', edit_diagramm_path(diagramm) %></td>
      <td  ><%= link_to 'l&ouml;schen', diagramm, :confirm => 'Wollen Sie wirklich L&ouml;schen? Dann klicken Sie auf OK', :method => :delete %></td>
    <% end %>
     <td ><%=h diagramm.beschreibung %></td>
 </tr>
<% end %>
</TABLE>

<br>
<% if session[:expert_modus] then %>
<%= link_to 'Neues Diagramm', new_diagramm_path %>
<% end %>
