<h1>Neues Diagramm</h1>

<% form_for(@diagramm, :html => {:name => "qual_der_wahl", :onsubmit => "MarkiereErgebnisse()"}) do |f| %>
  <%= f.error_messages %>

<TABLE width="66%">
  <TR>
    <TD width="33%" VAlign="top">
    <%= f.label :name %><br />
    <%= f.text_field :name %><BR>
    </TD>
    <TD width="66%" VAlign="top">
     <%= f.label :beschreibung %><br />
    <%= f.text_field :beschreibung,:cols=>50,:rows=>3 %>
    </TD>
  </TR>
</TABLE>
<br>
<%= f.submit "Erstellen" %>

<%= link_to 'Zurück', diagramme_path %>


<% end %>