
<script type="text/javascript" src="/javascripts/swfobject.js"></script>

<p>
  <b>Name:</b>
  <%=h @diagramm.name %>
</p>

<%= render :partial => "grafik" %>

<%= link_to_remote "Nach Rechts",  :url => { :action => "rechts" }  %>

<p>
  <b>Beschreibung:</b>
  <%=h @diagramm.beschreibung %>
</p>

<% if @diagramm.zeit %>
  <p>
    <b>Zeit Bis:</b>
    <%=h @diagramm.zeit.bis %>
  </p>

  <p>
    <b>Zeit Dauer:</b>
    <%=h @diagramm.zeit.dauer %>
  </p>
<% end %>


<% if session[:expert_modus] %>
  <%= link_to 'Bearbeiten', edit_diagramm_path(@diagramm) %> |
  <%= link_to 'Zurueck', diagramme_path %>
<% else %>
  <%= link_to_remote 'Expertenmodus aktivieren', :url => expert_modus_url("ein"), :update => "expert_bereich"  %>
<% end %>

<div id="expert_bereich">
  em is aus
   <%= link_to_remote 'Expertenmodus aktivieren', :url => expert_modus_url("ein"), :update => "expert_bereich"  %>
</div>
