<p>
  <b>Name:</b>
  <%=h @diagramm.name %>
</p>

<p>
  <b>Beschreibung:</b>
  <%=h @diagramm.beschreibung %>
</p>

<% if @diagramm.zeit %>
  <p>
    <b>Zeit Bis:</b>
    <%=h @diagramm.zeit.bis %>
  </p>

  <p>
    <b>Zeit Dauer:</b>
    <%=h @diagramm.zeit.dauer %>
  </p>
<% end %>

<%= link_to 'Bearbeiten', edit_diagramm_path(@diagramm) %> |
<%= link_to 'Zurueck', diagramme_path %>
