
<%= javascript_include_tag :all %>
<!--script type="text/javascript" src="/javascripts/swfobject.js"></script-->

<!--%= javascript_include_tag "javascripts/highcharts/highcharts.js", "chartkick" %-->
<!--%= javascript_include_tag "highcharts", "chartkick" %-->
<!--%= column_chart  name: 'test', data: [1,43,77,55,66,23,77,65] %-->
<!--%= column_chart  name: 17, data: 22 %-->

<div id="fehlerausgabe_div">
</div>
<div id="debugausgabe_series_div">
</div>
<div id="debugausgabe_y_axis_div">
</div>
<div id="grafik_container">
  <%= render :partial => "grafik" %>
</div>

<!--%= link_to "open", {}, :target => "_blank" %-->
<!--%= button_to_function 'Save', "window.blur();" %-->
<!--%= button_to_function 'Save', "self.close();" %-->

<% if session[:expert_modus] %>
  <%= render :partial => "quellen_selektor" %>
<% else %>
  <%= link_to " Diagramm-Auswahl", {:controller => :diagramme, :action => :index} %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h @diagramm.beschreibung %>
<% end %>