<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <br>
<div class="card" style="width:80%; margin: auto; text-align: center;">
	<i class="large material-icons red-text text-accent-4">settings_power</i>
	<h1>System-Info</h1>

	<h3>Dienste</h3>
	<%alles_an = true%>
	<%@dienste.each do |dienst|%>
	<%if dienst.status == false && alles_an == true%>
	<% alles_an = false%>
	<%= raw ' <i class="material-icons light-green-text text-accent-3">error</i> Achtung!'%>
	<%end%>
	<%end%>
	<%if alles_an == true%>
	<%= raw ' <i class="material-icons light-green-text text-accent-3">done</i> Alle Dienste laufen!'%>
	<%end%>

	<table class="striped bordered blue lighten-4" style="width:80%; margin: auto;">
		<thead>
			<tr >
				<th data-field="dienst" style="background:white;">Dienst / Server</th>
				<th width="3%" style="background:white;"></th>
				<th data-field="status" style="background:white;">Status</th>
				<th style="background:white;"> Aktionen</th>
			</tr>
		</thead>
	<% @dienste.each do |dienst| %>
	   <tr>
	     <td> 
	     	<%=dienst.name%> 
	     </td>
	     <td width="3%">
	     	<%if dienst.status == true%>
	     	<%= raw ' <i class="material-icons light-green-text text-accent-3">done</i>' %>
	     	<%elsif dienst.status == false%>
	     	<%= raw ' <i class="material-icons red-text text-accent-1-text">error</i>' %>
	     	<% end %>
	     </td>
	     <td width="40%">
	     	<div id="<%=dienst.name%>" class="status">
	     	 	 <%if dienst.status == true%>
			     	<%= raw ' Aktiv' %>
			     	<%elsif dienst.status == false%>
			     	<%= raw ' Nicht aktiv' %>
		     	<% end %>
		    </div>
	    </td>
	    <td>
	    	<div id="<%=dienst.name%>" class="button">
	    		<button onclick="start_stop_dienst('<%=dienst.name%>')">
		     	 	<%if dienst.status == true%>
		     	 	<%= raw ' <i class="material-icons light-green-text text-accent-3">stop</i> Stop' %>
		     	 	<%= raw '<button onclick="neustart_dienst(\''+ dienst.name + ' \')"> <i class="material-icons light-green-text text-accent-3">settings_backup_restore</i> Neustart </button>'%>
		     	 	<%elsif dienst.status == false%>
		     	 	<%= raw ' <i class="material-icons light-green-text text-accent-3">settings_power</i> Start' %>
		     	 	<%end%>
		     	</button>

		    </div>
	     	
	    </td>
	   </tr>
	<% end %>
	</table>
	<script>
	/*function ajax_god(dienst, action){
		var link = '<%= url_for({ :controller => "system", :action => "ajax_update"}) %>';
		link = link + '?dienst=' + dienst + '&action=' + action;
		alert(link);
		$.post( link, function( data ) {
		alert("sucess");
		  alert(data);
		});
	}
	function dienst_neustarten(dienst){
		var link = '<%= url_for({ :controller => "system", :action => "ajax_dienst_restart"}) %>';
		link = link + '?dienst=' + dienst;
		alert(link);
		$.post( link, function( data ) {
		alert("sucess");
		  
		});
	}
	*/
	function start_stop_dienst(dienst){
		alert(dienst);
		var link = '<%= url_for({ :controller => "system", :action => "ajax_dienst_start_stop"}) %>';
		$.post( link, function( data ) {
		alert("sucess");
		  $('#'+dienst+".status").html('Die gewünschte Aktion für den Dienst: ' + dienst + " wurde angestoßen - bitte laden Sie die Seite neu!");
		  $('#'+dienst+".button").html("");
		});
	}
	function neustart_dienst(dienst){
		alert(dienst);
		var link = '<%= url_for({ :controller => "system", :action => "ajax_dienst_neustart"}) %>';
		$.post( link, function( data ) {
			alert("sucess");
		  	$('#'+dienst+".status").html('Die gewünschte Aktion für den Dienst: ' + dienst + " wurde angestoßen - bitte laden Sie die Seite neu!");
		  	$('#'+dienst+".button").html("");
		});
	}
	</script>
	<br>
</div>