<h1 style="text-align: center;">Einheiten <i class="material-icons medium">explicit</i></h1>

<TABLE class="striped">
  <thead>
    <tr class="listenkopf">
      <th>Bezeichnung</th>
      <th>Min</th>
      <th>Max</th>
      <th>Gequantelt?</th>
      <th></th>
      <th></th>
      <th>Beschreibung</th>
    </tr>
  </thead>

<% for einheit in @einheiten %>
  <tr  class="<%= cycle('', 'un') + 'gerade'%>">
    <td><%=h einheit.name %></td>
    <td><%=h einheit.min %></td>
    <td><%=h einheit.max %></td>
    <td><%=h(einheit.gequantelt? ? "gequantelt" : "")%></td>
    <td><%= link_to 'bearbeiten', edit_einheit_path(einheit) %></td>
    <td><%= link_to raw('l&ouml;schen'), einheit, :confirm => 'Siind Sie sicher?', :method => :delete %></td>
    <td><%=h einheit.beschreibung %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'Neue Einheit', new_einheit_path %>
