<h1>Einheiten</h1>

<table cellspacing="0" cellpadding="8">
  <tr class="listenkopf">
    <TD>Bezeichnung</th></TD>
    <TD>Min</TD>
    <TD>Max</TD>
    <TD>Gequantelt?</TD>
    <TD></TD>
    <TD></TD>
    <TD>Beschreibung</TD>
  </tr>

<% for einheit in @einheiten %>
  <tr  class="<%= cycle('', 'un') + 'gerade'%>">
    <td><%=h einheit.name %></td>
    <td><%=h einheit.min %></td>
    <td><%=h einheit.max %></td>
    <td><%=h(einheit.gequantelt? ? "gequantelt" : "")%></td>
    <td><%= link_to 'bearbeiten', edit_einheit_path(einheit) %></td>
    <td><%= link_to raw('l&ouml;schen'), einheit, :confirm => 'Siind Sie sicher?', :method => :delete %></td>
    <td><%=h einheit.beschreibung %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'Neue Einheit', new_einheit_path %>
