<table border=0 CELLSPACING=0 CELLPADDING=3 bgcolor="#999999" width="100%">
  <tr>
    <td bgcolor="#FFFFF3">
      
        <table border=0 CELLSPACING=0 CELLPADDING=3>
                      <tr>
                          <% if session[:expert_modus] then %>
                          <td>
                              <%= link_to " Diagramme ", {:controller => :diagramme, :action => :index}, :class => "kopflink" %>
                          </td>
                          <td>
                              <%= link_to " Messgrößen ", {:controller => :quellen, :action => :index}, :class => "kopflink" %>
                          </td>
                          <td>
                              <%= link_to " Einheiten ", {:controller => :einheiten, :action => :index}, :class => "kopflink" %>
                          </td>
                          <% end %>
                      </tr>
                  </table>
    </td>
    <td align="right" bgcolor="#FFFFF3">
      <div id="expert_bereich" xxonmouseout="window.location.reload()">
        <!--%= link_to_remote 'Expertenmodus aktivieren', :url => expert_modus_url("ein"), :update => "expert_bereich"%-->
        <%=  render :partial => "expert/expert_bereich" %>
      </div>
      <i>klarwerk v<%=Klarwerk::VERSION%></i> 
    </td>
  </tr>
</table>
